.PlayingCard {
  position: absolute;
  background-color: white;
  user-select: none;
}

.MoveDeckControl {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("controls/move.png");
  background-size: 30px 30px;
  user-select: none;
}

.ShuffleDeckControl {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("controls/shuffle.png");
  background-size: 30px 30px;
  user-select: none;
}

.FoldDeckControl {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("controls/fold.png");
  background-size: 30px 30px;
  user-select: none;
}

.TurnDeckControl {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("controls/turn.png");
  background-size: 30px 30px;
  user-select: none;
}

.PrivateArea {
  position: absolute;
  user-select: none;
  background: repeating-linear-gradient(
    -45deg,
    #eeeae2,
    #eeeae2 1px,
    #fdfdee 1px,
    #fdfdee 10px
  );
  border: 3px dashed #d33682;
}

.TextArea {
  position: absolute;
  background-color: white;
  user-select: none;
  resize: none;
  font-size: 16px;
  color: #586e75;
  background-color: #eeeae2;
  font-family: monospace;
  border: 2px solid #93a1a1;
}

.Dice {
  position: absolute;
  user-select: none;
  filter: drop-shadow(3px 3px 5px rgba(95, 95, 95, 0.8));
}

.Marble {
  position: absolute;
  user-select: none;
  border: 2px solid black;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 5px rgba(95, 95, 95, 0.8));
}

.OtherPlayerAvatar {
  background-color: #eeeae2;
  border: 2px solid #93a1a1;
  color: #586e75;
  font-family: monospace;
  font-size: 16px;
  outline: none;
  position: absolute;
  resize: none;
  user-select: none;
}

.ThisPlayerAvatar {
  background-color: yellow;
  border: 2px solid #93a1a1;
  color: #586e75;
  font-family: monospace;
  font-size: 16px;
  outline: none;
  position: absolute;
  resize: none;
  user-select: none;
}

.NoPlayerAvatar {
  background-color: snow;
  color: lightgray;
  font-family: monospace;
  font-size: 16px;
  outline: none;
  position: absolute;
  resize: none;
  user-select: none;
}

.ThisPlayerCursor {
  display: none;
}

.OtherPlayerCursor {
  border-width: 2px;
  border-style: solid none none solid;
  border-color: dimgray;
  color: dimgray;
  filter: drop-shadow(3px 3px 5px rgba(95, 95, 95, 0.8));
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  user-select: none;
}

.NoPlayerCursor {
  display: none;
}

.PlayerTag {
  background-color: #eeeae2;
  border: 2px solid dimgray;
  left: 0px;
  position: absolute;
  top: 160px;
}

.PlayingBoard {
  position: absolute;
  user-select: none;
}
